body {
  font: 400 16px/1.5em "Open Sans", sans-serif;
}

#wpcontent {
  padding-left: 0%;
}

.main {
  padding: 32px;
  background: #ffffff;
  height: 120vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box {
  width: fit-content;
  background-color: #21d4fd;
  margin: 5px;
  align-items: center;
}

.item-center {
  justify-content: center;
}

.item-right {
  justify-content: end;
  align-items: flex-end;
}

.padding-small {
  padding: 5px;
}

.icon-size {
  font-size: 50px;
  padding: 5px;
}

.transparent-color {
  background-color: transparent;
}

.green-color {
  background-color: #00ff4c;
}

.red-color {
  background-color: #ff1100;
}

.yellow-color {
  background-color: #e5ff00;
}

.icon-button {
  font-size: 100px;
  padding: 10px;
  border-radius: 15%;
}

.explorer .type-bar {
  border: none;
}

.explorer {
  border: none;
}

.explorer td {
  border: 1px solid black;
}

.scroll-table {
  overflow-x: auto;
  overflow-y: auto;
}

.column-row,
.table-head,
.table-data {
  border: 1px solid black;
  border-collapse: collapse;
}

.add-table {
  justify-content: center;
  text-align: center;
}

.add-table td {
  padding: 0 15px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 25px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
